QWidget#EncounterWidgetScrollArea {
    background-color: #E1E1E1;
    border: 0px solid black;
}

QWidget#EncounterWidget {
}

QTextEdit#OutputField {
    background-color: #FFFFFF;

}

QFrame#InitiativeWidget[clicked=false] {
}

QFrame#InitiativeWidget[clicked=true] {
}

EntryWidget#PlayerFrame {
    background-color: #E1E1E1;
}

EntryWidget {
    background-color: rgb(FF, FF, FF);
}

PlayerFrame {

}