QWidget#EncounterWidgetScrollArea {
    background-color: #E1E1E1;
    border: 0px solid black;
}

QWidget#EncounterWidget {
}

QTextEdit#OutputField {
    background-color: #FFFFFF;

}

QFrame#InitiativeWidget[clicked=false] {
    background-color: #F5F5F5;
}

QFrame#InitiativeWidget[clicked=true] {
    background-color: #BFBFBF;
}

EntryWidget {
    background-color: rgb(FF, FF, FF);
}